# Email spamming Logistic Regression

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as plt
%matplotlib inline

# Load dataset

In [10]:
df=pd.read_csv("spam.csv")
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [13]:
df.info

<bound method DataFrame.info of      Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]>

In [14]:
df.describe()

       Category                 Message
count      5572                    5572
unique        2                    5157
top         ham  Sorry, I'll call later
freq       4825                      30

In [15]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [20]:
df['Category'].replace({'ham': '0', 'spam' : '1'},inplace=True)

In [21]:
df

     Category                                            Message
0           0  Go until jurong point, crazy.. Available only ...
1           0                      Ok lar... Joking wif u oni...
2           1  Free entry in 2 a wkly comp to win FA Cup fina...
3           0  U dun say so early hor... U c already then say...
4           0  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567        1  This is the 2nd time we have tried 2 contact u...
5568        0               Will ü b going to esplanade fr home?
5569        0  Pity, * was in mood for that. So...any other s...
5570        0  The guy did some bitching but I acted like i'd...
5571        0                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [50]:
X=df['Message']
y=df['Category']

In [51]:
X

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [52]:
Y

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: Category, Length: 5572, dtype: object

In [53]:
from sklearn.model_selection import train_test_split

In [54]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=101)

In [55]:
print(X.shape,X_train.shape,X_test.shape)

(5572,) (3733,) (1839,)

In [56]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [76]:
features_extract= TfidfVectorizer(min_df=1, stop_words='english',lowercase='True')

X_train_features=features_extract.fit_transform(X_train)
X_test_features=features_extract.transform(X_test)

y_train=y_train.astype('int')
y_test=y_test.astype('int')

In [77]:
print(X_train_features)

  (0, 2084)	0.6386322399331757
  (0, 3848)	0.6623582033925096
  (0, 3430)	0.3917020200568049
  (1, 2936)	0.35563308394137055
  (1, 1341)	0.35563308394137055
  (1, 6626)	0.259657113712003
  (1, 3701)	0.35563308394137055
  (1, 2394)	0.3098409086025978
  (1, 4243)	0.3174404055159888
  (1, 670)	0.30341562551405826
  (1, 566)	0.35563308394137055
  (1, 4733)	0.3098409086025978
  (1, 3036)	0.2045639058498414
  (2, 3852)	0.7292872583448254
  (2, 4622)	0.6842076401326485
  (3, 3081)	1.0
  (4, 3496)	0.2778932541968002
  (4, 3765)	0.2863341899200054
  (4, 3756)	0.3055428756418086
  (4, 6061)	0.293035893103689
  (4, 5038)	0.3231704774722131
  (4, 6125)	0.3310969099666362
  (4, 5314)	0.19329478044566392
  (4, 3639)	0.18152468021672863
  (4, 6138)	0.20085740315655823
  :	:
  (3728, 809)	0.2980016125829773
  (3728, 6776)	0.45931947440036003
  (3728, 4223)	0.1876949436203121
  (3728, 3755)	0.3538307867725081
  (3728, 5287)	0.2737021528908056
  (3728, 1171)	0.3053107259767627
  (3729, 4604)	0.4657435782556122
  (3729, 6198)	0.4245608662468997
  (3729, 2403)	0.4657435782556122
  (3729, 6638)	0.4245608662468997
  (3729, 4083)	0.30894637698555993
  (3729, 5501)	0.3319851148442914
  (3730, 2221)	0.44134186468995673
  (3730, 971)	0.5194450867613617
  (3730, 2898)	0.40353487967661045
  (3730, 6792)	0.39800962220953906
  (3730, 2840)	0.27927921495888525
  (3730, 1954)	0.2766802660902872
  (3730, 3430)	0.24411729203936708
  (3731, 3387)	0.5400012525223975
  (3731, 5362)	0.5400012525223975
  (3731, 2109)	0.4522618060029515
  (3731, 901)	0.4607130922596322
  (3732, 3787)	0.7110354420149432
  (3732, 2061)	0.7031561705614296

In [78]:
from sklearn.linear_model import LogisticRegression

In [79]:
lr=LogisticRegression()

In [80]:
lr.fit(X_train_features,y_train)

LogisticRegression()

In [82]:
lr.predict(X_test_features)

array([0, 1, 0, ..., 0, 0, 0])

In [84]:
print(X_test_features)

  (0, 6543)	0.3297389521815303
  (0, 6539)	0.2758071973330438
  (0, 6265)	0.3322396008461784
  (0, 6066)	0.31488915843271725
  (0, 3734)	0.24521594619507692
  (0, 3342)	0.4093814967128283
  (0, 3218)	0.45863602003615805
  (0, 2711)	0.4093814967128283
  (1, 6137)	0.2564009078817221
  (1, 5961)	0.273598864526707
  (1, 5743)	0.2564009078817221
  (1, 5570)	0.2564009078817221
  (1, 5483)	0.2502626914663588
  (1, 5200)	0.21520008349653774
  (1, 4661)	0.2564009078817221
  (1, 4654)	0.22423172207577158
  (1, 3909)	0.2564009078817221
  (1, 3076)	0.19286896958374666
  (1, 1999)	0.24507290343474158
  (1, 1816)	0.2564009078817221
  (1, 1815)	0.19607777561038284
  (1, 1707)	0.21145545213616412
  (1, 1054)	0.21724113149630545
  (1, 494)	0.20972856176102575
  (1, 492)	0.18474977116340235
  :	:
  (1832, 775)	0.7505867222162343
  (1833, 4083)	0.37679215446676356
  (1833, 3060)	0.618249195631339
  (1833, 2993)	0.618249195631339
  (1833, 2826)	0.30588157272823635
  (1834, 6555)	0.38733575504345086
  (1834, 6266)	0.6011469923568854
  (1834, 5390)	0.45470938822008006
  (1834, 5161)	0.530879156409169
  (1835, 4622)	0.7085958919275853
  (1835, 1909)	0.7056145278715212
  (1836, 1920)	0.5093936247442481
  (1836, 1579)	0.8605336338981272
  (1837, 6103)	0.184987847661457
  (1837, 5848)	0.32667911742047356
  (1837, 5453)	0.3659833466966652
  (1837, 4367)	0.28912594485185533
  (1837, 3496)	0.2741853526427108
  (1837, 3124)	0.2928582920118474
  (1837, 3093)	0.21409413480322267
  (1837, 3056)	0.3014660479882993
  (1837, 2826)	0.18107190833560502
  (1837, 2816)	0.19527516999025832
  (1837, 1206)	0.5224380699752292
  (1838, 4076)	1.0

In [86]:
lr.score(X_test_features,y_test)

0.9564980967917346

# Pickling the model

In [90]:
import pickle

In [91]:
pickle.dump(lr,open('reg_model.pkl','wb'))

In [ ]:
pkl_model=pickle.load(open('reg_model.pkl',w))